/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul {
	background-color:lightgray;
	align-content:center;
}
nav li {
	float: left;
}

nav li a {
	display: block;
	color:black;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color:gray;
}

.currentPage {
	background-color:darkgray
}

ul li img {
    max-width: 400px;
    max-height:300px;
}

#container:not(.image-uploads) {
	padding-top:10px;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    flex:top;
}

#commentsContainer {
	padding-top:10px;
	justify-content: center;
    text-align: center;
    flex:top;
}

#img-container {
    align-items:flex-start;
}

#msgContainer {
    align-items:flex-end;
}

#reply-container {
    align-items:flex-end;
    justify-content: center;
}


